@media (max-width: 1199px) {
    // -----------------------------------
    // ------------- GLOBALS -------------
    // -----------------------------------



    body {
        background: url(../images/metal-5-1.jpg) top left / 600px 600px repeat;
    }

    .flow-size {
        max-width: 768px;
        padding: 0 1.5rem;
    }

    .h2-wrapper {
        padding: 0.35rem 7rem;

        h2 {
            font-size: 1.7rem;
        }
    }

    .h3-wrapper {
        padding: 0.35rem 3.5rem;

        h3 {
            text-shadow: 1px 2px 5px #5c5c5c;
            font-size: 1.45rem;
        }
    }

    .h4-inner {
        font-size: 1.05rem;
        letter-spacing: 0;
        line-height: 1.1rem;
    }

    .link-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }



    // --------------------------------
    // ------------- HERO -------------
    // --------------------------------



    .section-hero__wrapper {

        .hero-content__bgimage {
            height: 432px;
            min-height: 432px;
        }

        .hero-content {
            height: 15rem;

            &__h-wrapper {
                font-size: 2rem;
                height: 6rem;
            }

            &__name-block, &__introduce-block {
                width: 25rem;
                height: auto;
                font-size: 1.4em;
            }
        }
    }



    // ---------------------------------
    // ------------- ABOUT -------------
    // ---------------------------------



    .section-about__wrapper {
        padding: 5rem 1rem 0;
        gap: 2.5rem;

        .section-about__anchor {
            top: -0.9rem;
        }
    }



    // ---------------------------------
    // ------------- SKILS -------------
    // ---------------------------------


    
    .skills__wrapper {
        padding: 1.35rem 2rem 2.5rem;
        gap: 2.5rem;

        .skills__container {

            .skill {
                width: auto;
                padding: 0.3rem 1rem;

                span {
                    font-size: 1.15rem;
                }
            }
        }
    }



    // --------------------------------------
    // ------------- EXPERIENCE -------------
    // --------------------------------------



    .experience__container {
        padding: 1.35rem 2rem 2rem;
        gap: 1.5rem;

        .experience-past__container {
            gap: 1rem;

            .experience-past__content {

                p {
                    line-height: 1.2rem;
                    letter-spacing: 0px;
                    font-size: 0.95rem;
                }

                ul {

                    li {
                        line-height: 1.1rem;
                        padding-bottom: 0.3rem;
                        font-size: 0.95rem;
                    }
                }
            }
        }

        .experience-present__container {
            padding: 0 3rem;

            .experience-present__content {
                p {
                    font-size: 0.95rem;
                    letter-spacing: 0px;
                }
            }
        }
    }



    // -------------------------------------
    // ------------- EDUCATION -------------
    // -------------------------------------



    .education__container {
        padding: 1.35rem 2rem 2rem;
        gap: 2.5rem;

        .education-vocational__container, .education-courses__container {
            height: 100%;
            flex-direction: column;
            gap: 1rem;
            transform: scaleX(0);

            .education {
                height: 12rem;
                width: 90%;
                padding: 1rem 1.5rem;

                p {
                    padding-top: 0rem;
                    font-size: 0.9rem;
                }
            }
        }

        .education-vocational__container.show, .education-courses__container.show {
            transform: scaleX(1);
        }

        .education-vocational__h-wrapper, .education-courses__h-wrapper {
            border-width: 1px 1px 0px 1px;
            width: 100%;
            justify-content: center;
            height: 5rem;
            align-items: flex-start;
            padding: 1rem 1rem 0 1rem;
            border-image: linear-gradient(to bottom, rgb(97, 97, 97) 5%, #ffffff00);
            border-image-slice: 1;

            h4 {
                font-size: 1.2rem;
            }
        }
    }



    // ------------------------------------
    // ------------- PROJECTS -------------
    // ------------------------------------



    .section-projects__wrapper {
        padding: 5rem 1rem 0;

        .section-projects__anchor {
            top: -0.9rem;
        }

        .projects__container {
            padding: 2.5rem 0 0;
            gap: 2rem;

            .project {
                padding: 1.7rem 2rem;
                flex-direction: column;

                .project-image {
                    width: 622px;
                    min-height: 20rem;
                }

                .project-info {
                    width: 100%;

                    .project-description {
                        
                        .h3-wrapper {

                            h3 {
                                letter-spacing: 0;
                            }
                        }

                        .project-description_content {
                            font-size: 0.9rem;
                        }
                    }

                    .project-techsnlinks__wrapper {

                        .project-techs {

                            ul {

                                li {
                                    padding: 0.2rem 0.4rem;
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .project-links__container {
                            padding-top: 0rem;
                        }
                    }
                }
            }
        }
    }



    // ------------------------------------
    // ------------- CONTACTS -------------
    // ------------------------------------



    .section-contacts__wrapper {
        padding: 5rem 1rem 0;

        .section-contacts__anchor {
            top: -0.9rem;
        }

        .contacts__wrapper {
            padding-top: 2.5rem;

            .contacts__description {
                padding: 2rem 2rem 2.5rem;

                .contacts__description_content {

                    h4 {
                        font-size: 1.3rem;
                    }
                }

                .contacts__container {
                    flex-direction: column;
                    gap: 1.5rem;

                    .contacts {
                        width: 100%;
                        
                        ul {
                            flex-direction: row;
                            height: 100%;

                            li {

                                .link-button {
                                    width: 10rem;
                                }
                            }

                            li>span {
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .contacts-form__container {
                        width: 100%;

                        .contacts-form__description {
                            font-size: 0.9rem;
                        }

                        .contacts-form {

                            .contacts-form__wrapper {

                                .label {
                                    font-size: 0.9rem;
                                    padding-bottom: 0.3rem;
                                }

                                .input, .textarea {
                                    font-size: 0.9rem;
                                }

                                .textarea {
                                    height: 11rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}