.section-about__wrapper {
    padding: 7rem 2.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    position: relative;

    .section-about__anchor {
        position: absolute;
        top: 1.3rem;
    }
}