nav {
    position: relative;
}

.nav-panel {
    border: 1px solid gray;
    padding: 0.5rem 0;
    position: fixed;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s, top 0.3s;
    box-shadow:
        1px 1px 0px 1px rgb(143, 143, 143),
        1px 2px 0px 1px rgb(143, 143, 143),
        inset 1px 1px 0px 1px rgba(119, 119, 119, 0.3),
        5px 5px 3px 1px rgba(131, 130, 130, 0.6);

    display: flex;
    align-items: center;
    z-index: 10;

    .nav__container {
        padding: 0rem 3rem;
        border-radius: 9px;
        width: 35rem;
        height: 2.5rem;
        margin: 0 auto;
        transition: width 0.3s;

        .nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            overflow: hidden;

            .nav-button {
                padding: 0.15rem 0.7rem;
            }

            .nav-button_active{
                text-shadow: 2px 2px 5px rgb(90, 90, 90);
            }

            .button-backlight {
                margin: 0 auto;
                height: 2px;
                width: 0;
                background: linear-gradient(to right, rgba(173, 216, 230, 0), rgb(112, 219, 255) 15%, rgb(112, 219, 255) 85%, rgba(173, 216, 230, 0));
                transition: width 0.2s;
            }

            .button-backlight_on {
                width: 100%;
            }
        }
    }
}

.nav-panel:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.nav-panel_detached {
    top: 7px;
    box-shadow:
        1px 1px 0px 1px rgb(143, 143, 143),
        1px 2px 0px 1px rgb(143, 143, 143),
        inset 1px 1px 0px 1px rgba(119, 119, 119, 0.3),
        25px 25px 10px 0px rgba(131, 130, 130, 0.3);
}